/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar {
  height: 6px; 
  width: 6px;
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: #1A1D1A;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}